<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
		<meta charset="UTF-8">
		<title th:text="#{index.authentication}">鉴权设置</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="renderer" content="webkit">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
		<link rel="stylesheet" type="text/css" href="css/pagination.css"/>

		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/pagination.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.bootcss.com/es6-promise/4.1.1/es6-promise.auto.min.js"></script>
	</head>
      
   <body class="body_main">
   	  <!--左边菜单-->
      <div id="sider" class="sider"></div>
	  <div class="wrapMain">
	  	 <!--头部-->
	  	 <div class="topInfo" id="topInfo">	  
	  	 </div>
	  	 <div class="mainBox">
	  	 	 <div class="tabBox tabBox_authSet">
	  	 	 	
		  	 	 <div class="borderRadius5 bosshdow  first_div">
					 <div class="addBtnBox"><a onclick="showModal()" class="borderRadius5 btndefault btnAdd"><span th:text="#{index.addNewUser }">添加新的用户</span></a></div>
		  	 	 	<table class="t_tab">
		  	 	 		<thead>
		  	 	 			<tr ><th th:text="#{index.serialNumber}">序号</th><th th:text="#{index.loginAccount}">登陆账号</th><th th:text="#{index.role}">当前权限</th><th th:text="#{index.lastLoginTime}">最后上线时间</th><th class="operation" th:text="#{index.action}">操作</th></tr>
		  	 	 		</thead>
		  	 	 		<tbody>
		  	 	 			<tr th:each="user,userStat: ${userListPage}">
		  	 	 				<td th:text="${userStat.index+1}"></td>
		  	 	 				<td th:text="${user.getName()}"></td>
								<td th:switch="${user.getRole()}">
									<p th:case="'ROLE_ADMIN'" th:text="#{index.administrator}">管理员</p>
									<p th:case="'ROLE_EDITOR'" th:text="#{index.operator}">操作员</p>
									<p th:case="'ROLE_REVIEWER'" th:text="#{index.queryOnly}">仅查询</p>
								</td>
		  	 	 				<td th:text="${user.getLogin_time()}"></td>
								<td class="operations">
									<a class="abtn_btn" th:if="${user.getName()} != 'admin' " onclick="showModal1()"   th:id="${user.getName()}" th:text="#{index.authentication}">权限设置</a>
									<a th:if="${user.getName()} != 'admin' " th:id="${user.getName()}" class="abtn_btn bt_delete" th:text="#{index.delete}">删除</a>
								</td>
		  	 	 			</tr>
		  	 	 		</tbody>
		  	 	 	</table>
		  	 	 	
		  	 	 </div>
		  	 	 <div class="ht-page"></div>
	  	 	 </div>
	  	 	 <div class="space"></div>
	  	 </div>
	  </div>


	  <!--新增用户弹出框-->

	  <div class="modal" id="modal">
		  <div class="modal-by-dialog">
			  <a onclick="hideModal()" class="btnClose" style="color:#333333"></a>
			  <h3 class="modal_title" th:text="#{index.authentication}">新增用户</h3>
			  <div class="form">
				  <p class="flab" th:text="#{index.loginAccount}">登录账号：</p>
				  <div class="fin"><input class="borderRadius5" type="text" th:placeholder="#{index.inputUserName}" id="username"/></div>
				  <p class="flab" th:text="#{index.password}">密码：</p>
				  <div class="fin"><input class="borderRadius5" type="password" th:placeholder="#{index.inputPassword}" id="password"/></div>
				  <p class="flab" th:text="#{index.confirmPassword}">确认密码：</p>
				  <div class="fin"><input class="borderRadius5" type="password" th:placeholder="#{index.pleaseConfirmPassword}" id="passwordkey"/></div>
				  <p class="flab" th:text="#{index.role}">权限：</p>
				  <div class="borderRadius5 fsel">
					  <select id="role">
						  <option th:value="ROLE_ADMIN" th:text="#{index.administrator}">管理员</option>
						  <option th:value="ROLE_EDITOR" th:text="#{index.operator}">操作员</option>
						  <option th:value="ROLE_REVIEWER" th:text="#{index.queryOnly}">仅查询</option>
					  </select>
				  </div>
				  <div class="fbtnbox">
					  <a class="borderRadius5 fbtn" id= "bt_submit" th:text="#{index.ok}">确定</a>
				  </div>
			  </div>
		  </div>
	  </div>

	  <!--修改用户权限-->
	  <div class="modal" id="modal1">
		  <div class="modal-by-dialog modal-reset-level">
			  <a onclick="hideModal()" class="btnClose" style="color:#333333"></a>
			  <h3 class="modal_title" th:text="#{index.permissionSetting}">权限设置</h3>
			  <form class="form">
				  <p class="flab" th:text="#{index.loginAccount}">登录账号：</p>
				  <div class="fin"><input class="borderRadius5" type="text" id="username1"  readonly="readonly"/></div>
				  <p class="flab" th:text="#{index.password}">密码：</p>
				  <div class="fin"><input class="borderRadius5" type="password" id="password1"  readonly="readonly"/></div>
				  <p class="flab" th:text="#{index.role}">权限：</p>
				  <div class="borderRadius5 fsel">
					  <select id="role1">
						  <option th:value="ROLE_ADMIN" th:text="#{index.administrator}">管理员</option>
						  <option th:value="ROLE_EDITOR" th:text="#{index.operator}">操作员</option>
						  <option th:value="ROLE_REVIEWER" th:text="#{index.queryOnly}">仅查询</option>
					  </select>
				  </div>
				  <div class="fbtnbox">
					  <a class="borderRadius5 fbtn" id= "bt_update" th:text="#{index.update}">更新</a>
				  </div>
			  </form>
		  </div>
	  </div>
	  <div class="alert n-alert"></div>

<script type="text/javascript" >
	function showModal(){
		$("#username").val('');
		$("#password").val('');
		$("#passwordkey").val('');
		$("#modal").addClass('modal_in');
	}

	function showModal1(){
		$("#modal1").addClass('modal_in');
		var urlData = {username: event.target.id};
		$.get('searchUser', urlData, function (result) {
			$("#username1").val(result.name);
			$("#password1").val(result.password);
			$("#role1").val(result.role);
		}, 'json');
	}

	function hideModal(){

		$(".modal").removeClass('modal_in');
	}


	$("#sider").load("/sider",function(){
		$(".siderNav .l5").addClass('cur')
	});

	$("#topInfo").load("/header")

	var page1 = [[${pageSize}]]%10;
	var page2;
	if(page1 != 0){
		page2 = Math.round([[${pageSize}]]/10) + 1;
	}else{
		page2 = Math.round([[${pageSize}]]/10)
	}
	//console.log(page2)
	/*
        * 定义回掉函数
        * @param  number:跳转页
        * */
	function pageChange(i) {
		//alert("index is :" + i);
		//Pagination.Page($(".ht-page"), i, 300, 10);
		window.location.href = "[[@{../authenticationSet(page)}]]="+i;
		//window.location.reload();
	}



	/*定义获取参数的方法*/
	function getQuery(para){
		var reg = new RegExp("(^|&)"+para +"=([^&]*)(&|$)");
		var r = window.location.search.substr(1).match(reg);
		if(r!=null){
			return unescape(r[2]);
		}
		return null;
	}
</script>
<script src="js/jquery.i18n.properties.min.js" type="text/javascript" charset="utf-8"></script>
<script th:inline="javascript">
	//项目路径
	ctx = [[${#request.getContextPath()}]];

	//初始化i18n插件
	try {
		$.i18n.properties({
			path: ctx + '/i18n/',
			name: 'index',
			language: [[${#locale.language+'_'+#locale.country}]],
			mode: "both"
		});
	} catch (e) {
		console.error(e);
	}

	//初始化i18n方法
	function i18n(labelKey) {
		try {
			return $.i18n.prop(labelKey);
		} catch (e) {
			console.error(e);
			return labelKey;
		}
	}

	if([[${#locale.language}]]=="en"){

		$(".sider").addClass('sider_en');
		$("#topInfo").addClass('topInfo_en')
		$('.modal').addClass('modal_console_en')
	}
	let language = [[${#locale.language}]]

	Pagination.init($(".ht-page"), pageChange);

	let page = getQuery("page");
	if(page>0){
		Pagination.Page($(".ht-page"),language, page2,[[${pageSize}]], 10);
	}
	else{
		Pagination.Page($(".ht-page"),language, 0,[[${pageSize}]], 10);

	}


	let cancel = i18n("index.cancel")
	let ok = i18n("index.ok")
	let clickedCancel = i18n("index.clickedCancel")


		$(function () {
			let containSpecialCharacters = i18n("index.containSpecialCharacters")
			let completeInformation = i18n("index.completeInformation")
			let inconsistent = i18n("index.inconsistent")
			let digitPassword = i18n("index.digitPassword")
			let addedSuccessfully = i18n("index.addedSuccessfully")
			let addedFailed = i18n("index.addedFailed")
			let deleteUser = i18n("index.deleteUser")
			let deletedSuccessfully = i18n("index.deletedSuccessfully")
			let deletedFailed = i18n("index.deletedFailed")

			$('#bt_submit').click(function () {
				var name = $('#username').val();
				var password = $('#password').val();
				var passwordkey = $('#passwordkey').val();
				var role = $('#role').val();
				var regEn = /[`~!@#$%^&*()_+<>?:"{},.\/;'[\]]/im,
						regCn = /[·！#￥（——）：；“”‘、，|《。》？、【】[\]]/im;

				if(regEn.test(name) || regCn.test(password)) {
					$('.alert').html(containSpecialCharacters).addClass('alert-danger').show().delay(1500).fadeOut();
					return
				}
				if (name == "" || password == "" || role == "" || passwordkey == "") {
					$('.alert').html(completeInformation).addClass('alert-danger').show().delay(1500).fadeOut();
					return
				}
				if (password != passwordkey) {
					$('.alert').html(inconsistent).addClass('alert-danger').show().delay(1500).fadeOut();
					return
				}
				if (password.length > 20 || password.length < 6) {
					$('.alert').html(digitPassword).addClass('alert-danger').show().delay(1500).fadeOut();
					return
				}
				// let date=new Date();
				// let newdate=date.toLocaleString('chinese', { hour12: false });
				var urlData = {name: $('#username').val(), password: $('#password').val(), role: $('#role').val(),loginTime:""};
				$.get('adduser', urlData, function (result) {
					$(".modal").removeClass('modal_in');
					if(result.code == 2000) {
						Swal.fire({
							type: 'success', // 弹框类型
							title: '', //标题
							text: addedSuccessfully, //显示内容

							confirmButtonColor: '#3085d6',// 确定按钮的 颜色
							confirmButtonText: ok,// 确定按钮的 文字
							showCancelButton: false, // 是否显示取消按钮
							cancelButtonColor: '#d33', // 取消按钮的 颜色
							cancelButtonText: cancel, // 取消按钮的 文字

							focusCancel: true, // 是否聚焦 取消按钮
							reverseButtons: true  // 是否 反转 两个按钮的位置 默认是  左边 确定  右边 取消
						}).then(function(isConfirm){
							try {
								//判断 是否 点击的 确定按钮
								if (isConfirm.value) {
									window.location.reload();
								}
							} catch (e) {
								alert(e);
							}
						});
					}else{
						$('.alert').html(addedFailed).addClass('alert-danger').show().delay(1500).fadeOut();
						return
					}
				}, 'json');
			});
			$(' .bt_delete').click(function () {
				var urlData = {name: $(this).attr('id')};
				var username1 = [[${customUser.getUsername()}]];
				var username2 = $(this).attr('id');
				Swal.fire({
					type: 'question', // 弹框类型
					title: '', //标题
					text: deleteUser, //显示内容

					confirmButtonColor: '#3085d6',// 确定按钮的 颜色
					confirmButtonText: ok,// 确定按钮的 文字
					showCancelButton: true, // 是否显示取消按钮
					cancelButtonColor: '#d33', // 取消按钮的 颜色
					cancelButtonText: cancel, // 取消按钮的 文字

					focusCancel: true, // 是否聚焦 取消按钮
					reverseButtons: true  // 是否 反转 两个按钮的位置 默认是  左边 确定  右边 取消
				}).then(function(isConfirm){
					try {
						//判断 是否 点击的 确定按钮
						if (isConfirm.value) {
							$.get('deleteuser', urlData, function (result) {
								$(".modal").removeClass('modal_in');
								if(result.code == 2000) {
									Swal.fire({
										type: 'success', // 弹框类型
										title: '', //标题
										text: deletedSuccessfully, //显示内容

										confirmButtonColor: '#3085d6',// 确定按钮的 颜色
										confirmButtonText: ok,// 确定按钮的 文字
										showCancelButton: false, // 是否显示取消按钮
										cancelButtonColor: '#d33', // 取消按钮的 颜色
										cancelButtonText: cancel, // 取消按钮的 文字

										focusCancel: true, // 是否聚焦 取消按钮
										reverseButtons: true  // 是否 反转 两个按钮的位置 默认是  左边 确定  右边 取消
									}).then(function(isConfirm){
										try {
											//判断 是否 点击的 确定按钮
											if (isConfirm.value) {
												if(username1 == username2){
													window.location.href = "../login";
												}else {
													let page1 = 0;
													if (page > 0) {
														page1 = page - 1;
													}
													pageChange(page1);
												}
											}
										} catch (e) {
											alert(e);
										}
									});
								}else{
									Swal.fire("", deletedFailed, "error");
								}
							}, 'json');

						}
						else {
							Swal.fire(cancel, clickedCancel, "error");
						}
					} catch (e) {
						alert(e);
					}
				});

			});
		});
		$(document).ready(function () {
			var role = [[${role}]];
			if(role == "ROLE_REVIEWER" || role == "ROLE_EDITOR"){
				//document.getElementById("operation").style.visibility="hidden";//隐藏
				//document.getElementById("operations").style.visibility="hidden";//隐藏
				$(".addBtnBox").attr("style","display:none;");
				$(".operations").attr("style","display:none;");
				$(".operation").attr("style","display:none;");
			}
		});

		$(function () {
			let updatePermissions = i18n("index.updatePermissions")
			let updateSucceeded = i18n("index.updateSucceeded")
			$('#bt_update').click(function () {
				var urlData = {name: $('#username1').val(), password: $('#password1').val(),role:$('#role1').val()};
				var username1 = [[${customUser.getUsername()}]];
				var username2 = $('#username1').val();
				Swal.fire({
					type: 'question', // 弹框类型
					title: '', //标题
					text: updatePermissions, //显示内容

					confirmButtonColor: '#3085d6',// 确定按钮的 颜色
					confirmButtonText: ok,// 确定按钮的 文字
					showCancelButton: true, // 是否显示取消按钮
					cancelButtonColor: '#d33', // 取消按钮的 颜色
					cancelButtonText: cancel, // 取消按钮的 文字

					focusCancel: true, // 是否聚焦 取消按钮
					reverseButtons: true  // 是否 反转 两个按钮的位置 默认是  左边 确定  右边 取消
				}).then(function(isConfirm){
					try {
						//判断 是否 点击的 确定按钮
						if (isConfirm.value) {
							$.get('updateUser', urlData, function (result) {
								$(".modal").removeClass('modal_in');
									Swal.fire({
										type: 'success', // 弹框类型
										title: '', //标题
										text: updateSucceeded, //显示内容

										confirmButtonColor: '#3085d6',// 确定按钮的 颜色
										confirmButtonText: ok,// 确定按钮的 文字
										showCancelButton: false, // 是否显示取消按钮
										cancelButtonColor: '#d33', // 取消按钮的 颜色
										cancelButtonText: cancel, // 取消按钮的 文字

										focusCancel: true, // 是否聚焦 取消按钮
										reverseButtons: true  // 是否 反转 两个按钮的位置 默认是  左边 确定  右边 取消
									}).then(function(isConfirm){
										try {
											//判断 是否 点击的 确定按钮
											if (isConfirm.value) {
												if(username1 == username2){
													window.location.href = "../login";
												}else {
													window.location.reload();
												}
											}
										} catch (e) {
											alert(e);
										}
									});
							}, 'json');

						}
						else {
							Swal.fire(cancel, clickedCancel, "error");
						}
					} catch (e) {
						alert(e);
					}
				});

			});
		});

</script>


   </body>
</html>