<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
		<meta charset="UTF-8">
		<title>控制台</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="renderer" content="webkit">
		<link rel="stylesheet" type="text/css" href="css/pagination.css"/>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">

		<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
	</head>
      
   <body class="body_main">
   	  <!--左边菜单-->
      <div id="sider" class="sider"></div>
	  <div class="wrapMain">
	  	 <!--头部-->
	  	 <div class="topInfo" id="topInfo">	</div>
	  	 <div class="mainBox">
	  	 	 <div class="tabBox tabBox_authSet">
		  	 	 <div class="borderRadius5 bosshdow  first_div">
		  	 	 	<div class="addBtnBox">
						<button class="borderRadius5 btndefault btnAdd"  onclick="showModal()" id="add"><span>添加新节点</span></button>

					</div>

					 <!--新增节点弹出框-->

					 <div class="modal" id="modal">
						 <div class="modal-by-dialog modal-point">
							 <a onclick="hideModal()" class="btnClose" style="color:#333333"></a>
							 <h3 class="modal_title">新增节点</h3>
							 <div class="form">
								 <div class="col clearfix">
									 <p class="flab">节点IP：</p>
									 <div class="fin"><input class="borderRadius5" type="text" placeholder="请输入节点IP" id="nodeIp"/></div>
								 </div>
								 <div class="col clearfix">
									 <p class="flab">节点PORT：</p>
									 <div class=" fin"><input class="borderRadius5" type="text" placeholder="请输入节点PORT" id="nodePort"/></div>
								 </div>
								 <div class="col clearfix">
									 <p class="flab">节点类型：</p>
									 <div class="borderRadius5 fsel">
										 <select id="nodetype">
											 <option th:value=1>全节点</option>
											 <option th:value=2>矿工节点</option>
										 </select>
									 </div>
								 </div>
								 <div class="sshInfo">
									 <h3 class="pt">SSH远程连接数据</h3>
									 <div class="clearfix">
										 <div class="sshcol">
											 <span class="flab">用户名：</span>
											 <div class=" fin"><input class="borderRadius5" type="text" placeholder="请输入用户名" id="username"/></div>
										 </div>
										 <div class="sshcol sshcol-pas">
											 <span class="flab">密码：</span>
											 <div class=" fin"><input class="borderRadius5" type="password" placeholder="请输入密码" id="password"/></div>
										 </div>
										 <button class="borderRadius5 btndefault btnLink" id="connection1">测试连接</button>
										 <div class="moda-le">
											 <h5 class="h-result" style="color: green;display: none" id="wait">请等待...</h5>
											 <h5 class="h-result" style="color: green;display: none" id="success">连接成功</h5>
											 <h5 class="h-result"  style="color: red;display: none" id="fail">连接失败</h5>
										 </div>
									 </div>
								 </div>
								 <div class="fbtnbox">
									 <a  class="borderRadius5 fbtn" id="bt_submit">提交</a>
								 </div>

							 </div>
						 </div>

					 </div>

					 <!--编辑节点弹出框-->

					 <div class="modal" id="modal1">
						 <div class="modal-by-dialog modal-point">
							 <a onclick="hideModal()" class="btnClose" style="color:#333333"></a>
							 <h3 class="modal_title">编辑节点</h3>
							 <div class="form">
								 <div class="col clearfix">
									 <p class="flab">节点IP：</p>
									 <div class="fin"><input class="borderRadius5" type="text" placeholder="请输入节点IP" id="update_nodeIp" readonly="readonly"/></div>
								 </div>
								 <div class="col clearfix">
									 <p class="flab">节点PORT：</p>
									 <div class=" fin"><input class="borderRadius5" type="text" placeholder="请输入节点PORT" id="update_nodePort" readonly="readonly"/></div>
								 </div>
								 <div class="col clearfix">
									 <p class="flab">节点类型：</p>
									 <div class="borderRadius5 fsel">
										 <select id="update_nodetype">
											 <option th:value=1>全节点</option>
											 <option th:value=2>矿工节点</option>
										 </select>
									 </div>
								 </div>
								 <div class="sshInfo">
									 <h3 class="pt">SSH远程连接数据</h3>
									 <div class="clearfix">
										 <div class="sshcol">
											 <span class="flab">用户名：</span>
											 <div class=" fin"><input class="borderRadius5" type="text" placeholder="请输入用户名" id="update_username"/></div>
										 </div>
										 <div class="sshcol sshcol-pas">
											 <span class="flab">密码：</span>
											 <div class=" fin"><input class="borderRadius5" type="password" placeholder="请输入密码" id="update_password" /></div>
										 </div>
										 <button class="borderRadius5 btndefault btnLink" id="connection">测试连接</button>
										 <div class="moda-le">
											 <h5 class="h-result" style="color: green;display: none" id="wait_1">请等待...</h5>
											 <h5 class="h-result" style="color: green;display: none" id="success_1">连接成功</h5>
											 <h5 class="h-result" style="color: red;display: none" id="fail_1">连接失败</h5>
										 </div>
									 </div>
								 </div>
								 <div class="fbtnbox">
									 <a  class="borderRadius5 fbtn" onclick="hideModal()" id="update_submit">提交</a>
								 </div>

							 </div>
						 </div>

					 </div>


<!--						<button class="borderRadius5 btndefault btnAdd"><span>添加新节点</span></button></div>-->
		  	 	 	<table class="t_tab">
		  	 	 		<thead>
		  	 	 			<tr ><th>序号</th><th>节点信息</th><th>节点版本</th><th>运行状态</th><th>节点类型</th><th width="30%"  class="operation">操作</th></tr>
		  	 	 		</thead>
		  	 	 		<tbody>
		  	 	 			<tr th:each="node,nodeState: ${nodesListPage}">
								<td th:text="${nodeState.index+1}"></td>
								<td th:text="${node.getNodeIP()}+':'+${node.getNodePort()}"></td>
								<td th:text="${node.getNodeVersion()}"></td>
								<td th:text="${node.getNodeState()}"></td>
								<td th:switch="${node.getNodeType()}">
									<p th:case=1>全节点</p>
									<p th:case=2>矿工节点</p>
								</td>
		  	 	 				<td class="borderRadius5 bt_ad" >
		  	 	 					<a class="abtn_btn bt_bind"  th:if="${node.getNodeIP()}+':'+${node.getNodePort()} != ${nodeip} "th:id="${node.getNodeIP()}+':'+${node.getNodePort()}">绑定</a>
									<a th:if="${node.getNodeIP()}+':'+${node.getNodePort()} == ${nodeip} "  class="abtn_btn bt_unbind" th:id="${node.getNodeIP()}+':'+${node.getNodePort()}">解绑</a>
		  	 	 					<a class="abtn_btn bt_update" th:if="${node.getNodeIP()}+':'+${node.getNodePort()} != ${nodeip} " onclick="showModal1()" th:id="${node.getNodeIP()}+':'+${node.getNodePort()} ">编辑</a>
		  	 	 					<a class="abtn_btn bt_delete"  th:id="${node.getNodeIP()}+':'+${node.getNodePort()}" >删除</a>
		  	 	 				</td>
		  	 	 			</tr>
		  	 	 			
		  	 	 		</tbody>
		  	 	 	</table>
		  	 	 	
		  	 	 </div>
		  	 	 <div class="ht-page"></div>
	  	 	 </div>
	  	 	 <div class="space"></div>
	  	 </div>
	  </div>
	  </div>
<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/pagination.js" type="text/javascript" charset="utf-8"></script>
<script>
	
 	$("#sider").load("/sider",function(){
 		$(".siderNav .l2").addClass('cur')
 	});
 	
 	$("#topInfo").load("/header")

	var page1 = [[${pageSize}]]%10;
	var page2;
	if(page1 != 0){
		page2 = Math.round([[${pageSize}]]/10) + 1;
	}else{
		page2 = Math.round([[${pageSize}]]/10)
	}
     /*
         * 定义回掉函数
         * @param  number:跳转页
         * */
        function pageChange(i) {
            //alert("index is :" + i);
            //Pagination.Page($(".ht-page"), i, 300, 10);
			window.location.href = "[[@{../console(page)}]]="+i;
        }
        
        Pagination.init($(".ht-page"), pageChange);
		let page = getQuery("page");
		if(page>0){
			Pagination.Page($(".ht-page"), page2,[[${pageSize}]], 10);
		}
		else{
			Pagination.Page($(".ht-page"), 0,[[${pageSize}]], 10);

		}
 	
 	   /*定义获取参数的方法*/
 	  function getQuery(para){
		var reg = new RegExp("(^|&)"+para +"=([^&]*)(&|$)");
		var r = window.location.search.substr(1).match(reg);
		if(r!=null){
		return unescape(r[2]);
		}
		return null;
	 }

	function showModal(){
		$("#nodeIp").val('');
		$("#nodePort").val('');
		$("#username").val('');
		$("#password").val('');
		$("#modal").addClass('modal_in');
		$(".moda-le").find(".h-result").css({'display':'none'})
	}

	function showModal1(){
		$("#modal1").addClass('modal_in');
		var urlData = {ipPort: event.target.id};
		$.get('searchNode', urlData, function (result) {
			document.getElementById("update_nodeIp").innerHTML = "result.nodeIP";
			$("#update_nodeIp").val(result.nodeIP);
			$("#update_nodePort").val(result.nodePort);
			$("#update_nodetype").val(result.nodeType);
			$("#update_username").val(result.userName);
			$("#update_password").val(result.password);
		}, 'json');
		$(".moda-le").find(".h-result").css({'display':'none'})
	}

	function hideModal(){
		$(".modal").removeClass('modal_in');
	}
 	
</script>

<script th:inline="javascript">
	var warning;
	if(!!window.ActiveXObject || "ActiveXObject" in window){
		warning = '';
	}else{
		warning = 'warning';
	}
	$(function () {
		$('#bt_submit').click(function () {
			var re = /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/
			var r = re.test($('#nodeIp').val());
			if (!r)
			{
				Swal.fire("", "IP地址不正确", "error");
				return;
			}
			var port = $('#nodePort').val();
			if (port == "" || port == null){
				Swal.fire("", "请输入port", "error");
				return;
			}
			var regEn = /[`~!@#$%^&*()_+<>?:"{},.\/;'[\]]/im,
					regCn = /[·！#￥（——）：；“”‘、，|《。》？、【】[\]]/im;

			if(regEn.test(port)) {
				$('.alert').html('名称不能包含特殊字符').addClass('alert-danger').show().delay(1500).fadeOut();
				return false;
			}
			var urlData = {nodeIP: $('#nodeIp').val(),nodePort: $('#nodePort').val(), nodeType: $('#nodetype').val(), userName: $('#username').val(),
				password: $('#password').val(), dbIP: $('#dbip').val(), dbPort: $('#dbport').val(), databaseName: $('#database').val(),
				dbUsername: $('#dbusername').val(), dbPassword: $('#dbpassword').val(),leveldbPath: $('#leveldb').val()};
			Swal.fire({
				type: warning, // 弹框类型
				title: '', //标题
				text: "是否添加！", //显示内容

				confirmButtonColor: '#3085d6',// 确定按钮的 颜色
				confirmButtonText: '确定',// 确定按钮的 文字
				showCancelButton: true, // 是否显示取消按钮
				cancelButtonColor: '#d33', // 取消按钮的 颜色
				cancelButtonText: "取消", // 取消按钮的 文字

				focusCancel: true, // 是否聚焦 取消按钮
				reverseButtons: true  // 是否 反转 两个按钮的位置 默认是  左边 确定  右边 取消
			}).then(function(isConfirm){
				try {
					//判断 是否 点击的 确定按钮
					if (isConfirm.value) {
						$.get('addnode', urlData, function (result) {
							if(result.code == 2000){
								Swal.fire({
									type: 'success', // 弹框类型
									title: '', //标题
									text: "添加成功！", //显示内容

									confirmButtonColor: '#3085d6',// 确定按钮的 颜色
									confirmButtonText: '确定',// 确定按钮的 文字
									showCancelButton: false, // 是否显示取消按钮
									cancelButtonColor: '#d33', // 取消按钮的 颜色
									cancelButtonText: "取消", // 取消按钮的 文字

									focusCancel: true, // 是否聚焦 取消按钮
									reverseButtons: true  // 是否 反转 两个按钮的位置 默认是  左边 确定  右边 取消
								}).then(function(isConfirm){
									try {
										//判断 是否 点击的 确定按钮
										if (isConfirm.value) {
											window.location.reload();
										}
									} catch (e) {
										alert(e);
									}
								});
							}else{
								Swal.fire("", "已存在相同节点", "error");
							}
						}, 'json');

					}
					else {
						Swal.fire("取消", "点击了取消", "error");
					}
				} catch (e) {
					alert(e);
				}
			});

		});
		//删除
		$(' .bt_delete').click(function () {
			var urlData = {nodeStr: $(this).attr('id')};
			Swal.fire({
				type: warning, // 弹框类型
				title: '', //标题
				text: "是否删除！", //显示内容

				confirmButtonColor: '#3085d6',// 确定按钮的 颜色
				confirmButtonText: '确定',// 确定按钮的 文字
				showCancelButton: true, // 是否显示取消按钮
				cancelButtonColor: '#d33', // 取消按钮的 颜色
				cancelButtonText: "取消", // 取消按钮的 文字

				focusCancel: true, // 是否聚焦 取消按钮
				reverseButtons: true  // 是否 反转 两个按钮的位置 默认是  左边 确定  右边 取消
			}).then(function(isConfirm){
				try {
					//判断 是否 点击的 确定按钮
					if (isConfirm.value) {
						$.get('deleteNode', urlData, function (result) {
							if(result.code == 2000){
								Swal.fire({
									type: 'success', // 弹框类型
									title: '', //标题
									text: "删除成功！", //显示内容

									confirmButtonColor: '#3085d6',// 确定按钮的 颜色
									confirmButtonText: '确定',// 确定按钮的 文字
									showCancelButton: false, // 是否显示取消按钮
									cancelButtonColor: '#d33', // 取消按钮的 颜色
									cancelButtonText: "取消", // 取消按钮的 文字

									focusCancel: true, // 是否聚焦 取消按钮
									reverseButtons: true  // 是否 反转 两个按钮的位置 默认是  左边 确定  右边 取消
								}).then(function(isConfirm){
									try {
										//判断 是否 点击的 确定按钮
										if (isConfirm.value) {
											let page1 =0;
											if(page >0){
												page1 = page -1;
											}
											pageChange(page1);
										}
									} catch (e) {
										alert(e);
									}
								});
							}
						}, 'json');

					}
					else {
						Swal.fire("取消", "点击了取消", "error");
					}
				} catch (e) {
					alert(e);
				}
			});
		});

		//绑定
		$(' .bt_bind').click(function () {
			var urlData = {nodeStr: $(this).attr('id')};
			Swal.fire({
				type: warning, // 弹框类型
				title: '', //标题
				text: "是否绑定！", //显示内容

				confirmButtonColor: '#3085d6',// 确定按钮的 颜色
				confirmButtonText: '确定',// 确定按钮的 文字
				showCancelButton: true, // 是否显示取消按钮
				cancelButtonColor: '#d33', // 取消按钮的 颜色
				cancelButtonText: "取消", // 取消按钮的 文字

				focusCancel: true, // 是否聚焦 取消按钮
				reverseButtons: true  // 是否 反转 两个按钮的位置 默认是  左边 确定  右边 取消
			}).then(function(isConfirm){
				try {
					//判断 是否 点击的 确定按钮
					if (isConfirm.value) {
						$.get('bindNode', urlData, function (result) {
							if(result.code == 2000){
								Swal.fire({
									type: 'success', // 弹框类型
									title: '', //标题
									text: "绑定成功！", //显示内容

									confirmButtonColor: '#3085d6',// 确定按钮的 颜色
									confirmButtonText: '确定',// 确定按钮的 文字
									showCancelButton: false, // 是否显示取消按钮
									cancelButtonColor: '#d33', // 取消按钮的 颜色
									cancelButtonText: "取消", // 取消按钮的 文字

									focusCancel: true, // 是否聚焦 取消按钮
									reverseButtons: true  // 是否 反转 两个按钮的位置 默认是  左边 确定  右边 取消
								}).then(function(isConfirm){
									try {
										//判断 是否 点击的 确定按钮
										if (isConfirm.value) {
											window.location.reload();
										}
									} catch (e) {
										alert(e);
									}
								});
							}
						}, 'json');

					} else {
						Swal.fire("取消", "点击了取消", "error");
					}
				} catch (e) {
					alert(e);
				}
			});
		});
		//解绑
		$(' .bt_unbind').click(function () {
			var urlData = {nodeStr: $(this).attr('id')};
			Swal.fire({
				type: warning, // 弹框类型
				title: '', //标题
				text: "是否解绑！", //显示内容

				confirmButtonColor: '#3085d6',// 确定按钮的 颜色
				confirmButtonText: '确定',// 确定按钮的 文字
				showCancelButton: true, // 是否显示取消按钮
				cancelButtonColor: '#d33', // 取消按钮的 颜色
				cancelButtonText: "取消", // 取消按钮的 文字

				focusCancel: true, // 是否聚焦 取消按钮
				reverseButtons: true  // 是否 反转 两个按钮的位置 默认是  左边 确定  右边 取消
			}).then(function(isConfirm){
				try {
					//判断 是否 点击的 确定按钮
					if (isConfirm.value) {
						$.get('unbindNode', urlData, function (result) {
							if(result.code == 2000){
								Swal.fire({
									type: 'success', // 弹框类型
									title: '', //标题
									text: "解绑成功！", //显示内容
									confirmButtonColor: '#3085d6',// 确定按钮的 颜色
									confirmButtonText: '确定',// 确定按钮的 文字
									showCancelButton: false, // 是否显示取消按钮
									cancelButtonColor: '#d33', // 取消按钮的 颜色
									cancelButtonText: "取消", // 取消按钮的 文字

									focusCancel: true, // 是否聚焦 取消按钮
									reverseButtons: true  // 是否 反转 两个按钮的位置 默认是  左边 确定  右边 取消
								}).then(function(isConfirm){
									try {
										//判断 是否 点击的 确定按钮
										if (isConfirm.value) {
											window.location.reload();
										}
									} catch (e) {
										alert(e);
									}
								});
							}
						}, 'json');

					}
					else {
						Swal.fire("取消", "点击了取消", "error");
					}
				} catch (e) {
					alert(e);
				}
			});
		});

		$(document).ready(function () {
			var role = [[${role}]];
			if(role == "ROLE_REVIEWER"){//仅查询
				$("#add").attr("style","display:none;");//隐藏div
				// $(".bt_delete").attr("style","display:none;");//隐藏div
				// $(".bt_update").attr("style","display:none;");//隐藏div
				$(".bt_ad").attr("style","display:none;");//隐藏div
				$(".operation").attr("style","display:none;");//隐藏div
				//var aa = document.getElementsByClassName("operations");//获取到的是一个类数组
			}
		});

		$("#connection").click(function () {
			$("#wait").css("display", "none");
			$("#fail").css("display", "none");
			// var re = /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/
			// var r = re.test($('#update_nodeIp').val());
			// if (!r)
			// {
			// 	Swal.fire("", "IP地址不正确", "error");
			// 	return;
			// }
			var username = $('#update_username').val();
			var password = $('#update_password').val();
			if (username == ""){
				Swal.fire("", "请完善远程信息", "error");
				return;
			}else {
				var urlData = {
					ip: $('#update_nodeIp').val(),
					username: $('#update_username').val(),
					password: $('#update_password').val()
				};

				$.get('connection', urlData, function (result) {
					if (result.code == 2000) {
						$("#wait_1").css("display", "none");
						$("#fail_1").css("display", "none");
						$("#success_1").css("display", "table-row");
					} else {
						$("#fail_1").css("display", "table-row");
						$("#wait_1").css("display", "none");
						$("#success_1").css("display", "none");
					}
				});
			}
		});

		$("#connection1").click(function () {
			var re = /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/
			var r = re.test($('#nodeIp').val());
			if (!r)
			{
				Swal.fire("", "IP地址不正确", "error");
				return;
			}
			var username = $('#username').val();
			var password = $('#password').val();
			if (username == ""){
				Swal.fire("", "请完善远程信息", "error");
				return;
			}
			var urlData = {ip: $('#nodeIp').val(),username: $('#username').val(), password: $('#password').val()};
			$.get('connection', urlData, function (result) {
				if(result.code == 2000){
					$("#wait").css("display", "none");
					$("#fail").css("display", "none");
					$("#success").css("display", "table-row");
				}else {
					$("#fail").css("display", "table-row");
					$("#wait").css("display", "none");
					$("#success").css("display", "none");
				}
			});
		});

		//更新
		$('#update_submit').click(function () {
			var urlData = {nodeIP: $('#update_nodeIp').val(),nodePort: $('#update_nodePort').val(), nodeType: $('#update_nodetype').val(), userName: $('#update_username').val(),
				password: $('#update_password').val(), dbIP: $('#update_dbip').val(), dbPort: $('#update_dbport').val(), databaseName: $('#update_database').val(),
				dbUsername: $('#update_dbusername').val(), dbPassword: $('#update_dbpassword').val(), leveldbPath:$('#update_leveldb').val()};

			Swal.fire({
				type: warning, // 弹框类型
				title: '', //标题
				text: "是否更新！", //显示内容

				confirmButtonColor: '#3085d6',// 确定按钮的 颜色
				confirmButtonText: '确定',// 确定按钮的 文字
				showCancelButton: true, // 是否显示取消按钮
				cancelButtonColor: '#d33', // 取消按钮的 颜色
				cancelButtonText: "取消", // 取消按钮的 文字

				focusCancel: true, // 是否聚焦 取消按钮
				reverseButtons: true  // 是否 反转 两个按钮的位置 默认是  左边 确定  右边 取消
			}).then(function(isConfirm){
				try {
					//判断 是否 点击的 确定按钮
					if (isConfirm.value) {
						$.get('updateNode', urlData, function (result) {
							$(".modal").removeClass('modal_in');
							if(result){
								Swal.fire({
									type: 'success', // 弹框类型
									title: '', //标题
									text: "更新成功！", //显示内容

									confirmButtonColor: '#3085d6',// 确定按钮的 颜色
									confirmButtonText: '确定',// 确定按钮的 文字
									showCancelButton: false, // 是否显示取消按钮
									cancelButtonColor: '#d33', // 取消按钮的 颜色
									cancelButtonText: "取消", // 取消按钮的 文字

									focusCancel: true, // 是否聚焦 取消按钮
									reverseButtons: true  // 是否 反转 两个按钮的位置 默认是  左边 确定  右边 取消
								}).then(function(isConfirm){
									try {
										//判断 是否 点击的 确定按钮
										if (isConfirm.value) {
											window.location.reload();
										}
									} catch (e) {
										alert(e);
									}
								});
							}else {
								Swal.fire("", "失败", "error");
							}
						}, 'json');

					}
					else {
						Swal.fire("取消", "点击了取消", "error");
					}

				} catch (e) {
					alert(e);
				}
			});
		});

	});

	window.setInterval(function() {
		$.ajax({
			type: "GET",
			contentType: "application/json",
			url: "/getBindNode",
			data: "",
			success: function (result) {
				if (result.code == 5000){
					$("#ip").html("请绑定节点");
					$("#version").val("");
					$("#isrun").val("");
					$("#type").val("");
				}else if (result.code == 3000) {
					$("#ip").html("连接超时");
					$("#version").val("");
					$("#isrun").val("");
					$("#type").val("");
				}else{
					$("#ip").html(result.ip);
					$("#version").html(result.version);
					$("#isrun").html(result.status);
					if (result.type == 1){
						$("#type").html("全节点");
					}else {
						$("#type").html("矿工节点");
					}

				}
			}
		})
	},3000);
</script>

   </body>

</html>