<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div>
  <div class="tpinfo userInfo">
	  <p><span th:text="#{index.currentTime}">当前访问时间:</span><span id = "time"></span></p>
  	   <div class="userFun">
  	   	   <a class="yh" th:text="${customUser.getUsername()}"></a>
  	   	   <a href="/layout" class="tc"  th:text="#{index.exit}">退出</a>
		   <div class="d-language">
			   <a class="active" onclick="change('zh_cn')">CN</a>
			   <span>/</span>
			   <a onclick="change('en_us')">EN</a>
		   </div>
  	   </div>
  </div>
  <div class="tpinfo tPointInfo">
  	  
	  <p class="ppo"><span th:text="#{index.currentNode}">当前节点:</span><span th:text="${info.getNodeIP()} == '请绑定节点'? #{index.pleaseBindNode} : ${info.getNodeIP()}"></span></p>
	  <p><span th:text="#{index.nodeVersion1}">节点版本:</span><span th:text="${version}"></span></p>
	  <p><span th:text="#{index.networkId}">网络ID:</span><span th:text="${p2pAddress}"></span></p>
	  <p><span th:text="#{index.runningStatus}">运行状态</span>:<span th:text="${isrun}  == 1 ? #{index.running} : ''"></span></p>
	  <p><span th:text="#{index.nodeType}">节点类型</span>:<span th:text="${info.getNodeType()}  == 1 ? #{index.fullNode} : (${info.getNodeType()}  == 2 ? #{index.consensusNode} : ${info.getNodeType()})"></span></p>
  	  <div class="postRight">
  	  	  <button class="borderRadius5 btn btn-stop" id="stop"><span th:text="#{index.stop}">停止</span></button>
		  <button class="borderRadius5 btn btn-reset" id="restart"><span th:text="#{index.restart}">重启</span></button>
		  <button class="borderRadius5 btn btn-reset" onclick="showMo()" id="resetpass"><span th:text="#{index.resetPassword}">重置密码</span></button>
	  </div>
  </div>
  </div>

	  <div class="modal browser-password" id="modal2">
		  <div class="modal-by-dialog modal-point modal-confirm-password">
			  <a onclick="hideMo()" class="btnClose" style="color:#333333"></a>
			  <h3 class="modal_title" th:text="#{index.confirmPassword}">密码确认</h3>
			  <p class="modal_message" th:text="#{index.InputOperatingSystem}">输入TDOS操作系统的密码</p>
			  <form class="form">
				  <div class="col clearfix">

					  <div class="fin"><input class="borderRadius5" type="password" th:placeholder="#{index.signInPassword}" id="password11"/></div>
				  </div>
				  <div class="col clearfix">

					  <div class="fin"><input class="borderRadius5" type="password" th:placeholder="#{index.confirmPassword}" id="password12"/></div>
				  </div>

				  <div class="fbtnbox">
					  <a  class="borderRadius5 fbtn" onclick="hideMo()" id="submit11" th:text="#{index.commit}">提交</a>
				  </div>

			  </form>
		  </div>
	  </div>
<!--      <div class="reset-success">-->
<!--		  <div class="succ-text">确认成功</div>-->
<!--	  </div>-->
<div class="alert n-alert"></div>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="https://cdn.bootcss.com/es6-promise/4.1.1/es6-promise.auto.min.js"></script>
<script src="js/jquery.i18n.properties.min.js" type="text/javascript" charset="utf-8"></script>
<script th:inline="javascript">
	//项目路径
	ctx = [[${#request.getContextPath()}]];

	//初始化i18n插件
	try {
		$.i18n.properties({
			path: ctx + '/i18n/',
			name: 'index',
			language: [[${#locale.language+'_'+#locale.country}]],
			mode: "both"
		});
	} catch (e) {
		console.error(e);
	}

	//初始化i18n方法
	function i18n(labelKey) {
		try {
			return $.i18n.prop(labelKey);
		} catch (e) {
			console.error(e);
			return labelKey;
		}
	}
		let inconsistent = i18n("index.inconsistent")
		let signInPassword = i18n("index.signInPassword")
		let success = i18n("index.success")
		let ok = i18n("index.ok")
		let clickedCancel = i18n("index.clickedCancel")
		let cancel = i18n("index.cancel")
		let confirmStop = i18n("index.confirmStop")
		let doYou = i18n("index.doYou")
		let pleaseBindNode = i18n("index.pleaseBindNode")
		let failed = i18n("index.failed")

	$(document).ready(function () {
		var role = [[${role}]];
		if(role == "ROLE_REVIEWER"){//仅查询
			// document.getElementById("start").style.visibility="hidden";//隐藏
			// document.getElementById("stop").style.visibility="hidden";//隐藏
			$("#restart").attr("style","display:none;");
			$("#stop").attr("style","display:none;");
		}
	});

	$('#submit11').click(function () {
		var password11 = $('#password11').val();
		var password12 = $('#password12').val();
		if(password11 != password12){
			//alert("两次密码不一致");
			return $('.alert').html(inconsistent).addClass('alert-danger').show().delay(1500).fadeOut();

		}
		if(password11 =="" || password12 == ""){
			//alert("");
			return $('.alert').html(signInPassword).addClass('alert-danger').show().delay(1500).fadeOut();

		}
		//$(".modal2").removeClass('modal_in');
		var urlData = {password: $('#password11').val()};
		document.getElementById("password11").innerHTML = "";
		$.get('updatePassword', urlData, function (result) {
			if(result.code == 2000){
				showMess();
				//window.location.reload();
			}
		}, 'json');
	});

	function showMess(){
		$('.alert').html(success).addClass('alert-success').show().delay(1500).fadeOut();
		//
	}

	function setTime(){
		var dt=new Date();
		var strHour=dt.getHours();
		var strMinutes=dt.getMinutes();
		var strSeconds=dt.getSeconds();
		var strYear=dt.getFullYear()+"-";
		var strMonth=(dt.getMonth()+1)+"-";
		var strDay=dt.getDate();
		if (dt.getMonth()<10){
			strMonth = "0"+strMonth;
		}
		if (strDay<10){
			strDay = "0"+strDay;
		}
		if (strHour<10){
			strHour = "0"+strHour;
		}
		if (strMinutes<10){
			strMinutes = "0"+strMinutes;
		}
		if (strSeconds<10){
			strSeconds = "0"+strSeconds;
		}
		var strTime=strHour+":"+strMinutes+":"+strSeconds;
		document.getElementById("time").innerHTML=strYear+strMonth+strDay+" "+strTime;
	}
	setInterval("setTime()",1000);
	var warning;
	if(!!window.ActiveXObject || "ActiveXObject" in window){
		warning = '';
	}else{
		warning = 'warning';
	}
	$("#stop").click(function () {
		Swal.fire({
			type: warning, // 弹框类型
			title: '', //标题
			text: confirmStop, //显示内容
			confirmButtonColor: '#3085d6',// 确定按钮的 颜色
			confirmButtonText: ok,// 确定按钮的 文字
			showCancelButton: true, // 是否显示取消按钮
			cancelButtonColor: '#d33', // 取消按钮的 颜色
			cancelButtonText: cancel, // 取消按钮的 文字
			focusCancel: true, // 是否聚焦 取消按钮
			reverseButtons: true  // 是否 反转 两个按钮的位置 默认是  左边 确定  右边 取消
		}).then(function(isConfirm){
			try {
				//判断 是否 点击的 确定按钮
				if (isConfirm.value) {
					$.ajax({
						type: "GET",
						contentType: "application/json",
						url: "/stop",
						data: "",
						success: function (result) {
							if (result.code == 5000){
								if(result.message == "成功"){
									Swal.fire('', success, 'error');
								}else if (result.message == "请绑定节点"){
									Swal.fire('', pleaseBindNode, 'error');
								}else if (result.message == "失败"){
									Swal.fire('', failed, 'error');
								}
								return;
							}
							Swal.fire({
								type: 'success', // 弹框类型
								title: '', //标题
								text: success, //显示内容
								confirmButtonColor: '#3085d6',// 确定按钮的 颜色
								confirmButtonText: ok,// 确定按钮的 文字
								showCancelButton: false, // 是否显示取消按钮
								cancelButtonColor: '#d33', // 取消按钮的 颜色
								cancelButtonText: cancel, // 取消按钮的 文字
								focusCancel: true, // 是否聚焦 取消按钮
								reverseButtons: true  // 是否 反转 两个按钮的位置 默认是  左边 确定  右边 取消
							}).then(function(isConfirm){
								try {
									window.location.reload();
								} catch (e) {
									alert(e);
								}
							});
						}
					})
				}
				else {
					Swal.fire(cancel, clickedCancel, "error");
				}
			} catch (e) {
				alert(e);
			}
		});
	});

	$("#restart").click(function () {
		Swal.fire({
			type: warning, // 弹框类型
			title: '', //标题
			text: doYou, //显示内容
			confirmButtonColor: '#3085d6',// 确定按钮的 颜色
			confirmButtonText: ok,// 确定按钮的 文字
			showCancelButton: true, // 是否显示取消按钮
			cancelButtonColor: '#d33', // 取消按钮的 颜色
			cancelButtonText: cancel, // 取消按钮的 文字
			focusCancel: true, // 是否聚焦 取消按钮
			reverseButtons: true  // 是否 反转 两个按钮的位置 默认是  左边 确定  右边 取消
		}).then(function(isConfirm){
			try {
				//判断 是否 点击的 确定按钮
				if (isConfirm.value) {
					$.ajax({
						type: "GET",
						contentType: "application/json",
						url: "restart",
						data: "",
						success: function (result) {
							if (result.code == 5000){
								if(result.message == "成功"){
									Swal.fire('', success, 'error');
								}else if (result.message == "请绑定节点"){
									Swal.fire('', pleaseBindNode, 'error');
								}else if (result.message == "失败"){
									Swal.fire('', failed, 'error');
								}
								return;
							}
							Swal.fire({
								type: 'success', // 弹框类型
								title: '', //标题
								text: success, //显示内容
								confirmButtonColor: '#3085d6',// 确定按钮的 颜色
								confirmButtonText: ok,// 确定按钮的 文字
								showCancelButton: false, // 是否显示取消按钮
								cancelButtonColor: '#d33', // 取消按钮的 颜色
								cancelButtonText: cancel, // 取消按钮的 文字
								focusCancel: true, // 是否聚焦 取消按钮
								reverseButtons: true  // 是否 反转 两个按钮的位置 默认是  左边 确定  右边 取消
							}).then(function(isConfirm){
								try {
									setTimeout(function(){window.location.reload()},8000);
								} catch (e) {
									alert(e);
								}
							});
						}
					})
				}
				else {
					Swal.fire(cancel, clickedCancel, "error");
				}
			} catch (e) {
				alert(e);
			}
		});
	});
</script>
</html>

<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script>
	function showMo(){
		$("#password11").val('');
		$("#password12").val('');
		$("#modal2").addClass('modal_in');
	}

	function hideMo(){
		$("#modal2").removeClass('modal_in');
	}
</script>