<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
		<meta charset="UTF-8">
		<title th:text="#{index.information}">信息概要</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="renderer" content="webkit"/>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>


	</head>
      
   <body class="body_main">
   	  <!--左边菜单-->
      <div id="sider" class="sider"></div>
	  <div class="wrapMain">
	  	 <!--头部-->
	  	 <div class="topInfo" id="topInfo">	  
	  	 </div>
	  	 <div class="mainBox">
	  	 	 <div class="tabBox tabBox_summ new_tabBox_summ">
		  	 	 <div class="borderRadius5 bosshdow  first_div ">
		  	 	 	 <h3 class="title"  th:text="#{index.monitoringInformation}">监控信息<a href="#" data-toggle="tooltip" th:title="#{index.supported}" data-p data-trigger="hover" data-placement="right">
						 <img class="icon-wh" src="../img/wh.png"/>
					 </a></h3>
		  	 	 	 <div class="monitorInfo">
		  	 	 	 	<div class="curbg">
		  	 	 	 		<div class="line"></div>
		  	 	 	 	</div>
		  	 	 	 	<div class="col col1">
		  	 	 	 		<div class="pt" >
								<div class="dis-table-cell" th:text="#{index.numberOfBlocks}">每天出块数量</div>
							</div>
							<p class="num" th:text="${result.blocksPerDay}==''?'0':${result.blocksPerDay}" id="blocksPerDay"></p>
						</div>
		  	 	 	 	<div class="col">
		  	 	 	 		<div class="pt" >
							<div class="dis-table-cell" th:text="#{index.blockHeight}">
								区块高度
						    </div>
							</div>
		  	 	 	 		<p class="num" th:text="${result.height}==''?'0':${result.height}" id="blockHeight"></p>
		  	 	 	 	</div>
		  	 	 	 	<div class="col">
		  	 	 	 		<div class="pt">
							<div class="dis-table-cell" th:text="#{index.averageBlockTime}">
								平均出块时间
							</div>
							</div>
		  	 	 	 		<p class="num" th:text="${result.averageBlockInterval}==''?'0':${result.averageBlockInterval}+'&nbsp;S'" id="blockTime"></p>
		  	 	 	 	</div>
		  	 	 	 	<div class="col">
		  	 	 	 		<div class="pt">
							<div class="dis-table-cell" th:text="#{index.averageGasPrice}">
								平均gas单价
							</div>
							</div>
		  	 	 	 		<p class="num" th:text="${result.averageGasPrice}==''?'0':${result.averageGasPrice}" id="gasPrice"></p>
		  	 	 	 	</div>
		  	 	 	 	<div class="col">
							<div class="pt">
								<div class="dis-table-cell" th:text="#{index.memory}">
									事务池大小
								</div>
							</div>
		  	 	 	 		<p class="num" th:text="(${result.transactionPoolSize}==''?'0':${result.transactionPoolSize}) + (${result.transactionPoolSize}==null?'0':${result.transactionPoolSize})" id="blockSize"></p>
		  	 	 	 	</div>
		  	 	 	 	<div class="col" id="consensus">
							<div class="pt">
								<div class="dis-table-cell" th:text="#{index.currentDifficulty}">
									当前难度
								</div>
							</div>
		  	 	 	 		<p class="plevel" th:text="${result.currentDifficulty}==''?'':${result.currentDifficulty}"></p>
		  	 	 	 	</div>
		  	 	 	 	
		  	 	 	 </div>
		  	 	 </div>
		  	 	 <div class="borderRadius5 bosshdow boxdiv">
		  	 	 	<h3 class="title" th:text="#{index.alarmStatus}">预警状态</h3>
		  	 	 	<div class="dataBox">
		  	 	 		<ul class="ul_staBox">
		  	 	 			<li>
								<p class="pt" th:text="#{index.cpuStatus}">cpu状态</p>
								<div class="sta_icon" ><span th:text="${result.cpu}==''?'0':${result.cpu}"></span></div>
		  	 	 			</li>
		  	 	 			<li>
		  	 	 				<p class="pt" th:text="#{index.memoryUsage}">内存</p>
		  	 	 				<div class="sta_icon"><span th:text="${result.memory}==''?'0':${result.memory}"></span></div>
		  	 	 			</li>
		  	 	 			<li>
		  	 	 				<p class="pt" th:text="#{index.block}">卡块情况</p>
		  	 	 				<div class="sta_icon"><span id="blockStatus"></span></div>
		  	 	 			</li>
							<li>
								<p class="pt" th:text="#{index.fork}">分叉情况</p>
								<div class="sta_icon"><span id ="bifurcation"></span></div>
							</li>
		  	 	 			<li>
		  	 	 				<p class="pt" th:text="#{index.runningStatus}">运行状态</p>
		  	 	 				<div class="sta_icon"><span th:text="${isrun}  == 1 ? #{index.running} :  #{index.notRunning}"></span></div>
		  	 	 			</li>
		  	 	 			<li>
		  	 	 				<p class="pt" th:text="#{index.minnerDetection}">矿工检测</p>
								<div class="sta_icon"><span th:text="${result.getMinings()} == 1 ? #{index.yes} : #{index.no}"></span></div>
		  	 	 			</li>
		  	 	 		</ul>
		  	 	 	</div>
		  	 	 </div>
	  	 	 </div>
	  	 	 <div class="space"></div>
	  	 </div>
	  </div>

<script>
	var index = 0
 	$("#sider").load("/sider",function(){
 		$(".siderNav .l1").addClass('cur')
 	});
 	
 	$("#topInfo").load("/header")
 	
 	$(".monitorInfo .col").click(function(e){
 	    index = $(this).index()-1;
 		var width = $(this).outerWidth();
 		$(".curbg").css({'left':index*width+'px'})
 	
 	})
 	
 	 $(window).resize(function(){
 	 	var w = $(".monitorInfo").outerWidth();
 	 	$(".curbg").css({'left':(w/6)*index+'px'})
 	 })
 	
</script>


<script src="js/jquery.i18n.properties.min.js" type="text/javascript" charset="utf-8"></script>

<script th:inline="javascript">

	//项目路径
	ctx = [[${#request.getContextPath()}]];

	//初始化i18n插件
	try {
		$.i18n.properties({
			path: ctx + '/i18n/',
			name: 'index',
			language: [[${#locale.language+'_'+#locale.country}]],
			mode: "both"
		});
	} catch (e) {
		console.error(e);
	}

	//初始化i18n方法
	function i18n(labelKey) {
		try {
			return $.i18n.prop(labelKey);
		} catch (e) {
			console.error(e);
			return labelKey;
		}
	}

	let yes = i18n("index.yes")
	let no = i18n("index.no")

	if([[${#locale.language}]]=="en"){
		$(".sider").addClass('sider_en');
		$("#topInfo").addClass('topInfo_en')
		$('.mainBox').addClass('mainBox_en')
	}
	let toBeConfirmed = i18n("index.toBeConfirmed")
	var t2 = window.setInterval(function() {
		$.ajax({
			type: "GET",
			contentType: "application/json",
			url: "/bifurcation",
			data: "",
			success: function (result) {
				if (result.code == -1) {
					document.getElementById("bifurcation").innerHTML = yes;
				} else if (result.code  == 0) {
					document.getElementById("bifurcation").innerHTML = toBeConfirmed;
				} else if (result.code  == -2) {
					document.getElementById("bifurcation").innerHTML = "";
				} else {
					document.getElementById("bifurcation").innerHTML = no;
				}
			}
		}),

		$.ajax({
			type: "GET",
			contentType: "application/json",
			url: "/block",
			data: "",
			success: function (result) {
				if (result == -1) {
					document.getElementById("blockStatus").innerHTML = yes;
				} else if (result == 0) {
					document.getElementById("blockStatus").innerHTML = toBeConfirmed;
				} else {
					document.getElementById("blockStatus").innerHTML = no;
				}

			}
		})
	},1000);

	var t2 = window.setInterval(function() {
		$.ajax({
			type: "GET",
			contentType: "application/json",
			url: "/getInformation",
			data: "",
			success: function (result) {
				if (result.code == 2000) {
					document.getElementById("blocksPerDay").innerHTML = result.data.blocksPerDay;
					document.getElementById("blockHeight").innerHTML = result.data.height;
					document.getElementById("blockTime").innerHTML = result.data.blockInterval+"s";
					document.getElementById("gasPrice").innerHTML = result.data.averageGasPrice;
					document.getElementById("blockSize").innerHTML = result.data.transactionPoolSize;
				}
			}
		})
	},5000);
</script>


	  <script th:inline="javascript">
		  $(document).ready(function () {
			  var consensus = [[${consensus}]];
			  if(consensus != "pow"){
				  //document.getElementById("operation").style.visibility="hidden";//隐藏
				  //document.getElementById("operations").style.visibility="hidden";//隐藏
				  $(" #consensus").attr("style","display:none;");
			  }
		  });
	  </script>
   </body>

</html>
