<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
		<meta charset="UTF-8">
		<title th:text="#{index.browserMonitoring}">浏览器监测</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="renderer" content="webkit">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">

		<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>

	</head>
      
   <body class="body_main">
   	  <!--左边菜单-->
      <div id="sider" class="sider"></div>
	  <div class="wrapMain">
	  	 <!--头部-->
	  	 <div class="topInfo" id="topInfo">	  
	  	 </div>
	  	 <div class="mainBox">
	  	 	 <div class="tabBox tabBox_out browser_box">
		  	 	 <div class="borderRadius5 bosshdow boxdiv first_div">
		  	 	 	<h3 class="title" th:text="#{index.browserMonitoring}">监测浏览器</h3>
		  	 	 	<div class="dataBox">
		  	 	 	   <div class="browser-info">
<!--						   <p>IP:<span id="ip"></span></p>-->
<!--						   <p>端口：8080</p>-->
						   <p><span th:text="#{index.version}">版本：</span><span id="version"></span></p>
						   <p><span th:text="#{index.runningStatus}">运行状态</span>:<span id="status"></span></p>
						</div>
		 
						<div class="btnbox">
							<a class="btndefault borderRadius5 browser-btn" onclick="showModal(1)" th:text="#{index.stop}">停止</a>
							<a class="btndefault borderRadius5 browser-btn" onclick="showModal(2)" th:text="#{index.start}">启动</a>
							<a class="btndefault borderRadius5 browser-btn" onclick="showModal(3)" th:text="#{index.restart}">重启</a>
							<a class="btndefault borderRadius5 browser-btn" id="search" th:text="#{index.visit}">访问</a>
						</div>
		  	 	 		
		  	 	 	</div>
		  	 	 </div>
	  	 	 </div>
	  	 	 <div class="space"></div>
	  	 </div>
	  </div>

<!--	  &lt;!&ndash;新增节点弹出框&ndash;&gt;-->
<!--	  <div class="modal browser-password" id="modal">-->
<!--		  <div class="modal-by-dialog modal-point">-->
<!--			  <a onclick="hideModal()" class="btnClose" style="color:#333333"></a>-->
<!--			  <h3 class="modal_title">密码确认</h3>-->
<!--			  <form class="form">-->
<!--				  <div class="col clearfix">-->

<!--					  <div class="fin"><input class="borderRadius5" type="text" placeholder="请输入密码" id="password"/></div>-->
<!--				  </div>-->

<!--				  <div class="fbtnbox">-->
<!--					  <a  class="borderRadius5 fbtn" onclick="hideModal()" id="submit">提交</a>-->
<!--				  </div>-->

<!--			  </form>-->
<!--		  </div>-->

<!--	  </div>-->

	  <div class="trans-modal">
		  <div class="trans-main">
			  <div class="trans-content">
				  <div class="loading"><img src="../img/load.gif"/></div>
				  <p class="mess"></p>
			  </div>
		  </div>
	  </div>

	  <div class="alert n-alert"></div>


<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/jquery.i18n.properties.min.js" type="text/javascript" charset="utf-8"></script>
<script  th:inline="javascript">
	var ip;
 	$("#sider").load("/sider",function(){
 		$(".siderNav .l7").addClass('cur')
 	});
 	
 	$("#topInfo").load("/header")

	var type = ''
	var num = 0
	$("#sider").load("/sider",function(){
		$(".siderNav .l7").addClass('cur')
	});

	$("#topInfo").load("/header")

	//项目路径
	ctx = [[${#request.getContextPath()}]];

	//初始化i18n插件
	try {
		$.i18n.properties({
			path: ctx + '/i18n/',
			name: 'index',
			language: [[${#locale.language+'_'+#locale.country}]],
			mode: "both"
		});
	} catch (e) {
		console.error(e);
	}

	//初始化i18n方法
	function i18n(labelKey) {
		try {
			return $.i18n.prop(labelKey);
		} catch (e) {
			console.error(e);
			return labelKey;
		}
	}

	if([[${#locale.language}]]=="en"){

		$(".sider").addClass('sider_en');
		$("#topInfo").addClass('topInfo_en')
		$('.modal').addClass('modal_console_en')
	}

	let unboundNode = i18n("index.unboundNode")
	let adminPasswordError = i18n("index.adminPasswordError")
	let ok = i18n("index.ok")
	let stopTimeout = i18n("index.stopTimeout")
	let notRunning = i18n("index.notRunning")
	let startBrowser = i18n("index.startBrowser")
	let stoppingWait = i18n("index.stoppingWait")
	let startingWait = i18n("index.startingWait")
	let restartingWait = i18n("index.restartingWait")
	let startupTimeout = i18n("index.startupTimeout")
	let restartTimeout = i18n("index.restartTimeout")

	function showModal(num){
		$.ajax({url:"nodeType",success:function(result1){
			if(result1.code != 2000){
				$('.alert').html(unboundNode).addClass('alert-danger').show().delay(1500).fadeOut();
				return;
			}
				type = num;
				$.ajax({url:"checkShell1",success:function(result){
						if(result == null || result == ""){
							console.log(result)
							$('.alert').html(adminPasswordError).addClass('alert-danger').show().delay(1500).fadeOut();
							return;
						}
						if(type == 1){
							$(".mess").text(stoppingWait)
							$(".trans-modal").addClass('show-trans-modal');
							$.get('stopWeb', function (result) {
							}, 'json');
						}else if(type == 2){
							$(".mess").text(startingWait)
							$(".trans-modal").addClass('show-trans-modal');
							$.get('startWeb', function (result) {
							}, 'json');
						}else if(type == 3){
							$(".mess").text(restartingWait)
							$(".trans-modal").addClass('show-trans-modal');
							$.get('restartWeb', function (result) {
							}, 'json');
						}
					}})

			}})

	}

	function hideModal(){
		$(".modal").removeClass('modal_in');
	}

	$(function () {
		$.get('getLocalIp', function (result) {
			if(result){
				ip = result.data;
			}
		}, 'json');

		getDetectExplorer();
	});

	// function hideModal(){
	// 	$(".modal").removeClass('modal_in');
	// 	//表示启动
	// 	if(type==1){
	// 		$(".trans-modal").addClass('show-trans-modal');
	// 	}
	// }

	function getDetectExplorer(){
		$.get('detectExplorer', function (result) {
			if(result.code == 2000){
				document.getElementById("version").innerHTML = result.data;
			}
			if([[${#locale.language}]] == "en"){
				if(result.message == 1){
					document.getElementById("status").innerHTML = "running";
				}else{
					document.getElementById("status").innerHTML = "not running";
				}
			}else {
				if (result.message == 1) {
					document.getElementById("status").innerHTML = "运行中";
				} else {
					document.getElementById("status").innerHTML = "未运行";
				}
			}
		}, 'json');
	}

	$('#search').click(function () {
		$.get('webStartOrNot', function (result) {
			if (result.code == 2000) {
				let path = "http://" + ip + ":8181"
				window.open(path, "_blank");
			} else {
				$('.alert').html(startBrowser).addClass('alert-danger').show().delay(1500).fadeOut();
			}
		}, 'json');
	})

	setInterval(function() {
		if (type == 1) {
			$.get('webKillOrNot', function (result) {
				num++;
				if (result.code == 2000) {
					$(".trans-modal").removeClass('show-trans-modal');
					document.getElementById("version").innerHTML = "";
					document.getElementById("status").innerHTML = notRunning;
					type = '';
					num = '';
				}
				if(parseInt(num)>60){
					$('.alert').html(stopTimeout).addClass('alert-danger').show().delay(1500).fadeOut();
					$(".trans-modal").removeClass('show-trans-modal');
					type = '';
					num = '';
				}
			}, 'json');
		}else if (type == 2) {
			$.get('webStartOrNot', function (result) {
				num++;
				if (result.code == 2000) {
					$(".trans-modal").removeClass('show-trans-modal');
					document.getElementById("version").innerHTML = result.data;
					if([[${#locale.language}]] == "en"){
						if(result.message == "成功"){
							document.getElementById("status").innerHTML = "running";
						}else{
							document.getElementById("status").innerHTML = "not running";
						}
					}else {
						if (result.message == "未运行") {
							document.getElementById("status").innerHTML = "未运行";
						} else {
							document.getElementById("status").innerHTML = "运行中";
						}
					}
					type = '';
					num = '';
				}
				if(parseInt(num)>60){
					$('.alert').html(startupTimeout).addClass('alert-danger').show().delay(1500).fadeOut();
					$(".trans-modal").removeClass('show-trans-modal');
					type = '';
					num = '';
				}
			}, 'json');
		}
	},1000);

	setInterval(function() {
		if (type ==3) {
			num = parseInt(num) + 15;
			$.get('webStartOrNot', function (result) {
				if (result.code == 2000) {
					$(".trans-modal").removeClass('show-trans-modal');
					if([[${#locale.language}]] == "en"){
						if(result.message == "成功"){
							document.getElementById("status").innerHTML = "running";
						}else{
							document.getElementById("status").innerHTML = "not running";
						}
					}else {
						if (result.message == "未运行") {
							document.getElementById("status").innerHTML = "未运行";
						} else {
							document.getElementById("status").innerHTML = "运行中";
						}
					}
					type = '';
					num = '';
				}
				if(parseInt(num)>100){
					$('.alert').html(restartTimeout).addClass('alert-danger').show().delay(1500).fadeOut();
					$(".trans-modal").removeClass('show-trans-modal');
					type = '';
					num = '';
				}
			}, 'json');
		}
	},15000);
</script>

	  <script th:inline="javascript">
		  $(document).ready(function () {
			  var role = [[${role}]];
			  if(role == "ROLE_EDITOR"){
				  //document.getElementById("operation").style.visibility="hidden";//隐藏
				  //document.getElementById("operations").style.visibility="hidden";//隐藏
				  $(" .browser-btn").attr("style","display:none;");
			  }
		  });
	  </script>


   </body>

</html>
