 <div class="patName btndefault">联盟链运维平台</div>
	<ul class="siderNav">
		<li class="l1"><a href="../home"><span>信息概要</span></a></li>
		<li class="l2"><a href="../console"><span>控制台</span></a></li>
		<li class="l3"><a href="../log"><span>日志信息</span></a></li>
		<li class="l4"><a href="../warnInfo"><span>预警信息</span></a></li>
		<li class="l5"><a href="../authenticationSet"><span>鉴权设置</span></a></li>
		<li class="l6 "><a href="../dataOutput"><span>数据导出</span></a></li>
		<li class="l7 "><a href="../monitorBrowser"><span>浏览器监测</span></a></li>
	</ul>
</div>

